::-webkit-scrollbar {width: 3px;height: 10px;}
::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {background-color: #e2e2e2;}
::-webkit-scrollbar-thumb {border-radius: 0;background-color: rgba(156, 156, 156, 0.7);}
*{margin:0;padding:0;box-sizing: border-box;}
html,body{width:100%;height:100%;font-size:14px;background-color: #f2f2f2;}
ul,li{list-style:none;}
a{text-decoration:none;color:#1fbae8;}
a,button{cursor:pointer;}
a:not('.rp_btn'):hover{color: #19afdc;}
button:hover{background: #19afdc;}
input,select,textarea,a,button{outline: none;}
textarea{resize: none;}
img{display: inline-block;vertical-align: middle;border: none;}
.flex{display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -moz-flex;display: -ms-flexbox;display: flex;}
.inblock{display: inline-block;*display:inline;*zoom:1;}
.clear{clear:both;}
.left{float:left;}
.right{float:right;}
.block{display:block;}
.none{display:none;}
.veil{position: fixed;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.1);z-index: 99997;display:none;}
@font-face{font-family:me-icon;src:url(../font/iconfont.eot);src:url(../font/iconfont.eot?#iefix) format('embedded-opentype'),url(../font/iconfont.woff2) format('woff2'),url(../font/iconfont.woff) format('woff'),url(../font/iconfont.ttf) format('truetype'),url(../font/iconfont.svg#me-icon) format('svg');
}
.me-icon{font-style: normal;font-size: 1rem;font-family: me-icon!important;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.me-icon-reply-fill:before{content:"\e611";}.me-icon-set-fill:before{content:"\e614";}.me-icon-menu-fill:before{content:"\e60f";}.me-icon-search:before{content:"\e615";}.me-icon-share:before{content:"\e641";}.me-icon-set-sm:before{content:"\e620";}.me-icon-engine:before{content:"\e628";}.me-icon-close:before{content:"\1006";}.me-icon-close-fill:before{content:"\1007";}.me-icon-chart-screen:before{content:"\e629";}.me-icon-star:before{content:"\e600";}.me-icon-circle-dot:before{content:"\e617";}.me-icon-chat:before{content:"\e606";}.me-icon-release:before{content:"\e609";}.me-icon-list:before{content:"\e60a";}.me-icon-chart:before{content:"\e62c";}.me-icon-ok-circle:before{content:"\1005";}.me-icon-layim-theme:before{content:"\e61b";}.me-icon-table:before{content:"\e62d";}.me-icon-right:before{content:"\e602";}.me-icon-left:before{content:"\e603";}.me-icon-cart-simple:before{content:"\e698";}.me-icon-face-cry:before{content:"\e69c";}.me-icon-face-smile:before{content:"\e6af";}.me-icon-survey:before{content:"\e6b2";}.me-icon-tree:before{content:"\e62e";}.me-icon-upload-circle:before{content:"\e62f";}.me-icon-add-circle:before{content:"\e61f";}.me-icon-download-circle:before{content:"\e601";}.me-icon-templeate-1:before{content:"\e630";}.me-icon-util:before{content:"\e631";}.me-icon-face-surprised:before{content:"\e664";}.me-icon-edit:before{content:"\e642";}.me-icon-speaker:before{content:"\e645";}.me-icon-down:before{content:"\e61a";}.me-icon-file:before{content:"\e621";}.me-icon-layouts:before{content:"\e632";}.me-icon-rate-half:before{content:"\e6c9";}.me-icon-add-circle-fine:before{content:"\e608";}.me-icon-prev-circle:before{content:"\e633";}.me-icon-read:before{content:"\e705";}.me-icon-404:before{content:"\e61c";}.me-icon-carousel:before{content:"\e634";}.me-icon-help:before{content:"\e607";}.me-icon-code-circle:before{content:"\e635";}.me-icon-water:before{content:"\e636";}.me-icon-username:before{content:"\e66f";}.me-icon-find-fill:before{content:"\e670";}.me-icon-about:before{content:"\e60b";}.me-icon-location:before{content:"\e715";}.me-icon-up:before{content:"\e619";}.me-icon-pause:before{content:"\e651";}.me-icon-date:before{content:"\e637";}.me-icon-layim-uploadfile:before{content:"\e61d";}.me-icon-delete:before{content:"\e640";}.me-icon-play:before{content:"\e652";}.me-icon-top:before{content:"\e604";}.me-icon-friends:before{content:"\e612";}.me-icon-refresh-3:before{content:"\e9aa";}.me-icon-ok:before{content:"\e605";}.me-icon-layer:before{content:"\e638";}.me-icon-face-smile-fine:before{content:"\e60c";}.me-icon-dollar:before{content:"\e659";}.me-icon-group:before{content:"\e613";}.me-icon-layim-download:before{content:"\e61e";}.me-icon-picture-fine:before{content:"\e60d";}.me-icon-link:before{content:"\e64c";}.me-icon-diamond:before{content:"\e735";}.me-icon-log:before{content:"\e60e";}.me-icon-rate-solid:before{content:"\e67a";}.me-icon-fonts-del:before{content:"\e64f";}.me-icon-unlink:before{content:"\e64d";}.me-icon-fonts-clear:before{content:"\e639";}.me-icon-triangle-r:before{content:"\e623";}.me-icon-circle:before{content:"\e63f";}.me-icon-radio:before{content:"\e643";}.me-icon-align-center:before{content:"\e647";}.me-icon-align-right:before{content:"\e648";}.me-icon-align-left:before{content:"\e649";}.me-icon-loading-1:before{content:"\e63e";}.me-icon-return:before{content:"\e65c";}.me-icon-fonts-strong:before{content:"\e62b";}.me-icon-upload:before{content:"\e67c";}.me-icon-dialogue:before{content:"\e63a";}.me-icon-video:before{content:"\e6ed";}.me-icon-headset:before{content:"\e6fc";}.me-icon-cellphone-fine:before{content:"\e63b";}.me-icon-add-1:before{content:"\e654";}.me-icon-face-smile-b:before{content:"\e650";}.me-icon-fonts-html:before{content:"\e64b";}.me-icon-form:before{content:"\e63c";}.me-icon-cart:before{content:"\e657";}.me-icon-camera-fill:before{content:"\e65d";}.me-icon-tabs:before{content:"\e62a";}.me-icon-fonts-code:before{content:"\e64e";}.me-icon-fire:before{content:"\e756";}.me-icon-set:before{content:"\e716";}.me-icon-fonts-u:before{content:"\e646";}.me-icon-triangle-d:before{content:"\e625";}.me-icon-tips:before{content:"\e702";}.me-icon-picture:before{content:"\e64a";}.me-icon-more-vertical:before{content:"\e671";}.me-icon-flag:before{content:"\e66c";}.me-icon-loading:before{content:"\e63d";}.me-icon-fonts-i:before{content:"\e644";}.me-icon-refresh-1:before{content:"\e666";}.me-icon-rmb:before{content:"\e65e";}.me-icon-home:before{content:"\e68e";}.me-icon-user:before{content:"\e770";}.me-icon-notice:before{content:"\e667";}.me-icon-login-weibo:before{content:"\e675";}.me-icon-voice:before{content:"\e688";}.me-icon-upload-drag:before{content:"\e681";}.me-icon-login-qq:before{content:"\e676";}.me-icon-snowflake:before{content:"\e6b1";}.me-icon-file-b:before{content:"\e655";}.me-icon-template:before{content:"\e663";}.me-icon-auz:before{content:"\e672";}.me-icon-console:before{content:"\e665";}.me-icon-app:before{content:"\e653";}.me-icon-prev:before{content:"\e65a";}.me-icon-website:before{content:"\e7ae";}.me-icon-next:before{content:"\e65b";}.me-icon-component:before{content:"\e857";}.me-icon-more:before{content:"\e65f";}.me-icon-login-wechat:before{content:"\e677";}.me-icon-shrink-right:before{content:"\e668";}.me-icon-spread-left:before{content:"\e66b";}.me-icon-camera:before{content:"\e660";}.me-icon-note:before{content:"\e66e";}.me-icon-refresh:before{content:"\e669";}.me-icon-female:before{content:"\e661";}.me-icon-male:before{content:"\e662";}.me-icon-password:before{content:"\e673";}.me-icon-senior:before{content:"\e674";}.me-icon-theme:before{content:"\e66a";}.me-icon-tread:before{content:"\e6c5";}.me-icon-praise:before{content:"\e6c6";}.me-icon-star-fill:before{content:"\e658";}.me-icon-rate:before{content:"\e67b";}.me-icon-template-1:before{content:"\e656";}.me-icon-vercode:before{content:"\e679";}.me-icon-cellphone:before{content:"\e678";}.me-icon-screen-full:before{content:"\e622";}.me-icon-screen-restore:before{content:"\e758";}.me-icon-cols:before{content:"\e610";}.me-icon-export:before{content:"\e67d";}.me-icon-print:before{content:"\e66d";}.me-icon-slider:before{content:"\e714";}.me-icon-addition:before{content:"\e624";}.me-icon-subtraction:before{content:"\e67e";}.me-icon-service:before{content:"\e626";}.me-icon-transfer:before{content:"\e691";}
.me_msg{float: left;position: fixed;left: 50%;z-index: 99999;top: 23%;min-width: 15%;max-width: 80%;transform: translateX(-50%);background: rgba(0,0,0,0.6);color: #fff;border-radius: 5px;overflow: hidden;}
.me_msgbox{padding:0 10px;text-align:center;word-break:break-all;white-space:normal;}
.me_msgbox .me_conntent{padding:10px 0;}
.me_msgbox .me_title{padding-top:10px;}
.me_msgbox .me_aftertitle{font-size:12px;color:#c7c7c7;}
.me_btns{height: 30px;line-height: 30px;background: rgb(74, 74, 74);display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -moz-flex;display: -ms-flexbox;display: flex;}
.me_btns .me_btn{width: 100%; text-align: center; cursor: pointer;}
.me_btns .me_btn:hover{background: #0fbbad;}

.clear {clear: both;*zoom: 1;}
.clear:after {clear: both;display: block;height: 0;content: '\20';*zoom: 1;}

.me_fixed {position: fixed;z-index: 100;width: 100%;}
.me_body{padding: 0.5rem 1rem;background:#fff;}
.me_form:after,.me_input:after{content:'';display:block;height:0;clear:both;}
.me_form{background: #fff;padding: 0.5rem 1rem;}
.me_group{margin-bottom: 2rem;}
.me_group > label{font-size: 1.2rem;margin-bottom: 0.3rem;display: block;}
.me_group .me_group_content{margin-left: 1rem;}
.me_input{margin-bottom: 0.5rem;}
.me_input > label{height: 2.4rem;line-height: 2.4rem;float:left;margin-right: 0.5rem;}
.me_input > input{height: 2.4rem;line-height: 2.4rem;border: 1px solid #ccc;padding: 0 0.3rem;width: 14rem;float:left;}
.me_input > select{height: 2.4rem;line-height: 2.4rem;padding: 0 0.5rem;border: 1px solid #ccc;float: left;}
.me_input > textarea{width: 25rem;height: 8rem;padding:0.3rem;border: 1px solid #ccc;}
.me_input input ~ label,.me_input select ~ label{margin-right: 0;margin-left: 0.5rem;}
.me_input .tips{color: #888;}
.me_input .text{height: 2.4rem;line-height: 2.4rem;padding: 0 0.5rem;background: #f1f1f1;width: 14rem;float: left;}
.me_input .longText{line-height: 1.5rem;width: 80%;display: inline-block;padding: 0.4rem 0;}
.me_input_line{display: inline-block;margin-right: 1rem;vertical-align: middle;}
.me_input input[type='radio']{width: 1rem;margin: 0 0.4rem;float: none;vertical-align: middle;}
.me_input input[type='checkbox']{width: 1.4rem;height: 1.4rem;margin-top: 0.4rem;}
.me_input.big{width: 100%;}
.me_input.big > label{height: 2.4rem;line-height: 2.4rem;float: none;display: block;}
.me_input.big > input{height:2.5rem;line-height:2.5rem;float: none;width: 100%;}
.me_input.big > select{}
.me_input.big > textarea{width: 100%;height: 10rem;}
.me_input.big .text{height:2.5rem;line-height:2.5rem;float: none;width: 100%;display: block;}
.me_input.big .longText{width: 100%;}
.me_head{}
.me_table{position: relative;width: 100%;background: #fff;color: #666;border-collapse: collapse;border-spacing: 0;}
.me_table thead tr{background: #f2f2f2;}
.me_table td, .me_table th{position: relative;min-height: 20px;line-height: 20px;border-top: none;border-left: none;border-width: 1px;border-style: solid;border-color: #e6e6e6;padding: 0.6rem;}
.me_table th{text-align: left;}
.me_table td{border-width: 1px;border-style: solid;border-color: #e6e6e6;cursor: default;}
.me_table tr:hover{background: #f2f2f2;}
.me_model{position: fixed;top: 20%;left: 0;right: 0;margin: 0 auto;width: 50%;max-width: 50rem;z-index: 99998;background: #fff;max-height: 70%;box-shadow: 0 0 8px #ddd;display:none;-webkit-animation-fill-mode: both;animation-fill-mode: both;-webkit-animation-duration: .3s;animation-duration: .3s;}
.me_model .title{height: 2.6rem;line-height: 2.6rem;padding: 0 1rem;border-bottom: 1px solid #ececec;}
.me_model .contentes{padding: 1rem;height: calc(100% - 2.6rem);overflow: auto;}
.me_model_close{position: absolute;top: 0;right: 0;font-size: 1.6rem;color: #333;height: 2.6rem;line-height: 2.6rem;width: 2.6rem;text-align: center;}


.rp_btn_row{margin-top: 2rem;}
.rp_btn{height:2.5rem;line-height:2.5rem;padding: 0 2rem;border: none;background: #1fbae8;color: #fff;display: inline-block;margin: 0 0.2rem;font-size: 1rem;}
.rp_btn.success{background: #c51a32;}

.menu{position: fixed;top:0;left:0;bottom:0;width: 15%;height: 100%;background: #20222A;}
.menu .logo{height: 3.2rem;line-height: 3.2rem;padding: 0px 10px;box-sizing: border-box;overflow: hidden;font-weight: 300;text-align: center;color: #fff;}
.menu_tree{height: calc(100% - 5.2rem);overflow-x: hidden;overflow-y: auto;}
.menu_item{line-height: 3rem;}
.menu_item a{display: block;padding-left: 1rem;color: #bfbfbf;}
.menu_item .me-icon{margin-right: 0.6rem;}
.menu_child{position: relative;padding: 5px 0;display:none;}
.menu_item:hover > a,.menu_item.active > a{background: #19afdc;color: #fff;}
.menu_item.active .menu_child{display: block;background: rgba(0,0,0,0.3);}

.top{height: 3.2rem;line-height: 3.2rem;position: fixed;left: 15%;right: 0;top: 0;background:#fff;z-index: 9999;}
.top_left{position: absolute;top: 0;left: 0;height: 100%;padding: 0 0.5rem;}
.top_right{position: absolute;top: 0;right: 0;height: 100%;padding: 0 0.5rem;}
.top_item{position: relative;display: inline-block;*display: inline;*zoom: 1;vertical-align: middle;}
.top_item a{display:block;padding: 0 1rem;color: #333;}
.top_item .me-icon{font-size: 1.4rem;}
.top_item .top_child{display: none;position: absolute;left: 0;top: 3.2rem;min-width: 100%;line-height: 36px;padding: 5px 0;box-shadow: 0 2px 4px rgba(0,0,0,.12);border: 1px solid #d2d2d2;background-color: #fff;border-radius: 2px;white-space: nowrap;}
.menu_more{content: '';width: 0;height: 0;border-style: solid dashed dashed;border-color: #fff transparent transparent;overflow: hidden;cursor: pointer;transition: all .2s;-webkit-transition: all .2s;position: absolute;top: 50%;margin-top: -3px;margin-left: 3px;border-width: 6px;border-top-color: #666;}
.top_item:hover .menu_more{border-color: transparent transparent #666;margin-top:-0.8rem;}
.top_item:hover .top_child{display:block;}
.content{position: absolute;top: 3.2rem;bottom: 0;left: 15%;right: 0;padding: 1rem;}
.pages{text-align: right;padding: 1rem 0 0.5rem;}
.pages span{padding: 0.1rem 0.5rem;background: #19afdc;color: #fff;border: 1px solid #19afdc;}
.pages a{padding: 0.1rem 0.5rem;border: 1px solid #19afdc;}
.tab_list{-webkit-align-self: center;align-self: center;display: -webkit-box;display: -webkit-flex;display: flex;-webkit-box-lines: single;-moz-box-lines: single;-webkit-flex-wrap: nowrap;flex-wrap: nowrap;width: 100%;}
.tab_list .tab_link{color: #333;width: 100%;height: 2.6rem;line-height: 2.6rem;-webkit-box-flex: 1;-ms-flex: 1;border: 0;border-bottom: 2px solid transparent;border-radius: 0;text-align: center;}
.tab_list .tab_link.active{color: #19afdc;border-bottom: 1px solid #19afdc;}
.tabs{min-height: initial;width: 100%;height: auto;}
.tabs .tab {width:100%;height:100%;background: #fff;display: none;padding: 1rem 0;}
.tabs .tab.active {display: block;}
.subMenu{margin-bottom: 1rem;}
.subMenu:after{content:'';display:block;height:0;clear:both;}
.subMenu a{height: 2.4rem;line-height: 2.4rem;padding: 0 1rem;border: none;background: #1fbae8;color: #fff;display: inline-block;margin-right: 0.5rem;}
.subMenu .me-icon{margin-right: 0.5rem;}

.loginBox{border-top: 1px solid #fff;}
.loginForm{width: 25rem;margin: 0 auto;padding: 2rem;border: 1px solid #ccc;border-radius: 5px;margin-top: 5%;}
.loginForm label{width: 3rem;text-align-last: justify;}
.loginForm .loginBtn{width: 14rem;margin-left: 3.5rem;}

.totalBox{flex-wrap: wrap;background: #fff;padding: 1rem;}
.totalBox li{width: 25%;height: 2rem;line-height: 2;}
.totalBox li label{margin-right: 1rem;color: #666;}
.cacheUpdate,.cmsUpdate,.adminMsg{background: #fff;margin-top: 1rem;}
.cacheUpdate .title,.cmsUpdate .title,.adminMsg .title{padding: 1rem;font-weight: bold;}
.cacheUpdate .contents{padding: 0 1rem 1rem;flex-flow: wrap;}
.cacheUpdate .contents li{padding: 0.5rem 1rem;width: 13rem;}
.cacheUpdate .contents button{}

.allCheck{color: #1fbae8;margin-right: 1rem;cursor: pointer;}
.oper_dele{color: #fff;cursor: pointer;padding: 0 1rem;background: #f40;height: 2.4rem;line-height: 2.4rem;}
.operBtn{margin: 0 0.3rem;}
.operBtn.delete{color: #c32d25;}
.upStatus{cursor: pointer;}
.extendBox{position: relative;border-top: 1px solid #fff;min-height: 2rem;}
[class^='me_extendBox_']{margin-top: 2rem;}
.me_extend_menu{font-weight: bold;display: inline-block;cursor: pointer;padding-right: 1rem;position: absolute;top: 0;}
.me_attrBox{padding: 1rem 0;}
.attrNums{font-style: normal;}
.attr_item{position: relative;display: inline-block;margin: 0 0.5rem 0.5rem;padding: 1rem;text-align: center;width: 6rem;}
.attr_item img{width: 3rem;height: 3rem;}
.attr_item p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: 0.3rem;}
.attr_item .attr_dele{position: absolute;top: -0.5rem;right: -0.5rem;font-size: 1.2rem;background: #ccc;border-radius: 100%;color: #fff;width: 1.5rem;height: 1.5rem;line-height: 1.5rem;text-align: center;display:none;}
.attr_item:hover{background: #f5f5f5;}
.attr_item:hover .attr_dele{display:block;}
.color1{}
.color2{}
.color3{color: #1fbae8;}
.color4{color: #f40;}
.badge{font-size: 0.85rem;padding: 0.05rem 0.3rem;background: #1fbae8;color: #fff;border-radius: 2px;margin: 0 0.1rem;}

@-webkit-keyframes me_bounceIn{
	0%{opacity: 0;-webkit-transform: scale(.5);transform: scale(.5)}
	100%{opacity: 1;-webkit-transform: scale(1);transform: scale(1)}
}
@keyframes me_bounceIn{
	0%{opacity: 0;-webkit-transform: scale(.5);-ms-transform: scale(.5);transform: scale(.5)}
	100%{opacity: 1;-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1)}
}
@-webkit-keyframes me_fadeIn{
	0%{opacity: 0}
	100%{opacity: 1}
}
@keyframes me_fadeIn{
	0%{opacity: 0}
	100%{opacity: 1}
}
.me_anim_bounce{-webkit-animation-name: me_bounceIn;animation-name: me_bounceIn}
.me_anim_fade{-webkit-animation-name: me_fadeIn;animation-name: me_fadeIn}

.me_list{}
.me_list dd,.me_list li{line-height: 2.2rem;}
.me_list dd:after,.me_list li:after{content:'';display:block;height:0;clear:both;}
.me_list dd{background: #808080;color: #f3f3f3;}
.me_list span{display: block;float: left;text-align: center;overflow: hidden;text-overflow: ellipsis;word-break: break-all;}
.me_list li:hover{background: #eafaff;}

.adminMsg_list{padding-bottom: 1rem;}
.adminMsg_list li{padding: 0.25rem 1rem;}
.adminMsg_list li a{color: inherit;}
.adminMsg_list li a:hover{color: #1fbae8;text-decoration: underline;}
.adminMsg_list li a.c{color: #f40;font-weight: bold;}
.adminMsg_list li img{height: 60px;}